<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CoomwayMP3 - Home</title>
        <meta property="og:title" content="CoomwayMP3 - Home" />
        <link rel="icon" href="/assets/ash.jpg">
        <meta property="og:image" content="/assets/ash.jpg">
        <meta name="theme-color" content="#9900ff">
        <meta name="description" content="The website and main landing page for the CoomwayMP3 node module!" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="The website and main landing page for the CoomwayMP3 node module!" />
    </head>
    <body>
        <%- include('_header') %>
        <div class="container maincontainer bg-secondary2 p-4 mb-5">
            <h1 class="mb-3 maintitlemobilechange">CoomwayMP3 <span style="color: white !important;">/</span> LocustMP3</h1>
            <p>CoomwayMP3 was created by <a class="footeratag" href="https://github.com/itz-hyperz" target="_blank">Hyperz#0001</a> to help promote Coomway's musical craft. The project aims to make the distribution of Coomway's Music much easier and more API focused for other projects. CoomwayMP3 allows you to source any of Coomways music and play it directly through a file link!</p>
            <a href="https://open.spotify.com/artist/5Vhu6bNHb5bQwD5KIsISko?si=6qIgeZe4TraZ7m9WsP2DWg" target="_blank" class="mt-3 mb-3 btn btn-lg btn-success"><i class="fa-brands fa-spotify"></i> View Locust On Spotify</a>
            <div class="row justify-content-center">
                <div class="col-lg-2 mt-4 mb-3">
                    <div class="piciconhome" style="background-color: #1ED661;">
                        <a href="https://open.spotify.com/artist/5Vhu6bNHb5bQwD5KIsISko?si=6qIgeZe4TraZ7m9WsP2DWg" target="_blank"><i class="fa-brands fa-spotify"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 mt-4 mb-3">
                    <div class="piciconhome" style="background-color: #FF0033;">
                        <a href="https://www.youtube.com/@locustbl8z" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 mt-4 mb-3">
                    <div class="piciconhome" style="background-color: #e305b3;">
                        <a href="https://www.instagram.com/locustbl8z/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 mt-4 mb-3">
                    <div class="piciconhome" style="background-color: #054be3;">
                        <a href="#" target="_blank"><i class="fa-brands fa-deezer"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 mt-4 mb-3">
                    <div class="piciconhome" style="background-color: #e3ba05;">
                        <a href="#" target="_blank"><i class="fa-solid fa-radio"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 mt-4 mb-3">
                    <div class="piciconhome" style="background-color: #6e01d4;">
                        <a href="#" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container maincontainer bg-secondary2 p-4 mb-5">
            <h1 style="color: #1ED661 !important;" class="mb-4">Official Spotify Albums</h1>
            <div class="row justify-content-center">
                <div class="col-lg-6 mb-3">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/3x48b6yulmd9A2QvSvG3Iz?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </div>
                <div class="col-lg-6 mb-3">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/0XjA90uAH9E7MXV5qFotJZ?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="container maincontainer bg-secondary2 p-4 mb-5">
            <h1 class="mb-3">Archived <span style="color: white !important"><i class="fa-brands fa-github"></i> Github</span> Music</h1>
            <hr>
            <h2 class="mb-3"><span style="font-weight: 700; border-bottom: solid rgb(153, 0, 255) 3px"><%= songs.length.toLocaleString() %></span> Stored Music Files</h2>
            <p class="mb-3">This is where you can view all of Coomway's stored music from our Github repository!</p>
            <form class="mb-3" action="/backend/searchsong" method="post">
                <div class="row w-75 justify-content-center mx-auto">
                    <div class="col-lg-6">
                        <input class="form-control mt-3 me-2 w-100" name="query" type="search" placeholder="Search song..." aria-label="Search" required>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-warning mt-3 w-100" type="submit">Search Song</button>
                    </div>
                </div>
            </form>
            <div class="row justify-content-center">
                <% songs.sort((a, b) => { return a.name.localeCompare(b.name); }).forEach(function(item) { %>
                    <div class="col-lg-3 mb-3">
                        <div class="p-3">
                            <h5 class="mainthemecolorthing"><%= item.name %></h5>
                            <audio class="audiomain" controls>
                                <source src="<%= item.url %>" type="audio/<%= item.name.split('.').reverse()[0] %>">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        <%- include('_footer') %>
    </body>
</html>
