<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CoomwayMP3 - Home</title>
        <meta property="og:title" content="CoomwayMP3 - Home" />
        <link rel="icon" href="/assets/logo.png">
        <meta property="og:image" content="/assets/logo.png">
        <meta name="theme-color" content="#5865F2">
        <meta name="description" content="The website and main landing page for the CoomwayMP3 node module!" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="The website and main landing page for the CoomwayMP3 node module!" />
    </head>
    <body>
        <%- include('_header') %>
        <div class="container maincontainer bg-secondary p-4 mb-5">
            <form class="mb-5" action="/backend/searchsong" method="post">
                <div class="row w-75 justify-content-center mx-auto">
                    <div class="col-lg-6">
                        <input class="form-control mt-3 me-2 w-100" name="query" type="search" placeholder="Search song..." aria-label="Search" value="<%= query %>" required>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-warning mt-3 w-100" type="submit">Search Song</button>
                    </div>
                </div>
            </form>
            <hr>
            <h1 class="mb-3 mt-5"><%= song?.name %></h1>
            <audio class="audiosearch mb-5" controls>
                <source src="<%= song?.url %>" type="audio/<%= song?.name?.split('.')?.reverse()[0] %>">
                Your browser does not support the audio element.
            </audio>
        </div>
        <%- include('_footer') %>
    </body>
</html>
